@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

body {
  background: url(https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=747&q=80)
    no-repeat center center/cover;
  line-height: 2rem;
}

.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #000;
}

h2,
h3,
input,
.output,
ul {
}
input {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
}
input:focus {
  outline: none;
}
a {
  text-decoration: none;
}

ul {
  margin: 10px 15px;
  list-style: none;
}

ul > * {
  font-size: 25px;
  margin: 14px 11px;
  cursor: pointer;
}

.output {
  text-align: center;
  width: 65%;
  padding: 14px;
  border: 8px double green;
  font-weight: 800;
  text-align: center;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  margin-top: 30px;
}
.output > * {
  text-underline-position: below;
  text-decoration: 2px solid green underline;
  padding-left: 15px;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}
footer ul a {
  font-size: 0.8rem;
  color: #000;
  border: 2px solid black;
  padding: 5px;
  border-radius: 1px;
  font-weight: 600;
}
